 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

 body .main-menu > li > a, .ltext-102, .table-shopping-cart .table_head th{
    font-family: 'Roboto', sans-serif !important;
 }
.container .row p{
    font-family:Arial, Helvetica, sans-serif;
    word-wrap: break-word;
}
.text-1{
 color: black;
 font-family:Arial, Helvetica, sans-serif;
 font-size: 30px;
 font-weight: 600;
}
.text-2{
 color:rgb(59, 59, 59);
 font-family:Arial, Helvetica, sans-serif;
 font-size: 20px;
 font-weight: 400;
}
.text-3{
 color:darkgrey;
 font-family:Arial, Helvetica, sans-serif;
 font-size: 15px;
 font-weight: 200;
}
.text-4{
 color:black;
 font-family:Arial, Helvetica, sans-serif;
 font-size: 15px;
 font-weight: 200;
}
.text-5{
 color: white;
 font-family:Arial, Helvetica, sans-serif;
 font-size: 15px;
 font-weight: 200;
}
